.app-content {
  overflow: hidden;
  height: 100%;
}

.cart-count {
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1rem; /* Adjust font size for better visibility */
  font-weight: bold; /* Optional: make count stand out */
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px; /* Added gap to ensure spacing between elements is consistent */
}

.product span {
  flex-grow: 1;
  display: flex;
  justify-content: space-between; /* Ensure the name and price align properly */
}

.product .quantity-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align the quantity input to the left */
}

.product input.quantity-input {
  width: 60px; /* Set a fixed width for quantity input to align properly */
  text-align: center; /* Ensure numbers are centered */
  margin-left: 5px; /* Add some spacing between quantity label and input box */
}

button.p-button-danger {
  margin-left: 10px;
}

.p-toolbar-group-end {
  display: flex;
  align-items: center; /* Vertically align the icon and count */
  gap: 5px; /* Adjust space between icon and count (adjust as needed) */
}
.p-toolbar-group-start,
.p-toolbar-group-center,
.p-toolbar-group-end {
  display: flex;
  align-items: center;
}

.p-toolbar-group-start {
  justify-content: flex-start; /* Align logo to the left */
}

.p-toolbar-group-center {
  justify-content: center; /* Center the title */
  flex-grow: 1; /* Allow it to grow and take available space */
}

.p-toolbar-group-end {
  justify-content: flex-end; /* Align the cart icon and count to the right */
}
.cart-total {
  margin-top: 20px;
  padding-top: 10px;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: bold;
}

.total-label {
  color: #333;
}

.total-amount {
  color: #2e7d32; /* Green color for the total amount */
  font-size: 1.3em;
}
