<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
  <div class="p-toolbar-group-end">
    <!-- Shopping cart icon with the count -->
    <i class="pi pi-shopping-cart" style="font-size: 2rem" (click)="toggleCart()"></i>
    <span *ngIf="cartProductCount > 0" class="cart-count">{{ cartProductCount }}</span>
  </div>

</p-toolbar>
<p-splitter
    [panelSizes]="[20, 80]"
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>

<p-dialog [(visible)]="isCartVisible" [style]="{ width: '50vw' }" header="Shopping Cart">
  <div *ngIf="selectedProducts.length > 0; else emptyCart">
    <ul>
      <li *ngFor="let product of selectedProducts">
        <div class="product">
          <span>{{ product.name }} - {{ product.price | currency:'USD' }}</span>
          <div class="quantity-container">
            (Quantity:
            <input type="number" [(ngModel)]="product.quantity" (ngModelChange)="updateQuantity(product.id, product.quantity)" [min]="1" class="quantity-input" />
            )
          </div>
          <button pButton icon="pi pi-trash" (click)="removeProductFromCart(product.id)" class="p-button-danger p-ml-2"></button>
        </div>
      </li>
    </ul>
    <!-- Total Cost Display -->
    <div class="cart-total">
      <hr />
      <div class="total-cost">
        <span class="total-label"><strong>Total:</strong></span>
        <span class="total-amount">{{ totalCost | currency:'USD' }}</span>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>No products in the cart.</p>
  </ng-template>
</p-dialog>

