.app-content {
  overflow: hidden;
  height: 100%;
}

.cart-count {
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 1rem; /* Adjust font size for better visibility */
  font-weight: bold; /* Optional: make count stand out */
}


.p-toolbar-group-end {
  display: flex;
  align-items: center; /* Vertically align the icon and count */
  gap: 5px; /* Adjust space between icon and count (adjust as needed) */
}
.p-toolbar-group-start,
.p-toolbar-group-center,
.p-toolbar-group-end {
  display: flex;
  align-items: center;
}

.p-toolbar-group-start {
  justify-content: flex-start; /* Align logo to the left */
}

.p-toolbar-group-center {
  justify-content: center; /* Center the title */
  flex-grow: 1; /* Allow it to grow and take available space */
}

.p-toolbar-group-end {
  justify-content: flex-end; /* Align the cart icon and count to the right */
}
