<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"/>

<app-filter-section (filterChanged)="onFilterChange($event)"></app-filter-section>


<!-- DataView with Pagination and Filtering -->
<p-dataView #dv
            [value]="filteredProducts"
            [paginator]="true"
            [rows]="pageSize"
            [first]="first"
            (onPage)="onPageChange($event)">
  <ng-template pTemplate="list" let-products>
    <div class="product-grid">
      <div *ngFor="let product of products; trackBy: trackByFn">
        <p-card class="block mb-2">
          <!-- Category and Name -->
          <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
          <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>

          <!-- Description -->
          <div class="text-sm text-600 mt-2" *ngIf="product.description">{{ product.description }}</div>

          <!-- Price -->
          <div class="text-lg font-medium mt-2">
            <span class="text-primary">{{ product.price | currency:'USD' }}</span>
          </div>

          <!-- Inventory Status -->
          <div class="text-sm mt-2" [ngClass]="{
                      'text-success': product.inventoryStatus === 'INSTOCK',
                      'text-warning': product.inventoryStatus === 'LOWSTOCK',
                      'text-danger': product.inventoryStatus === 'OUTOFSTOCK'
                  }">
            {{ product.inventoryStatus }} ({{ product.quantity}})
          </div>

          <!-- Rating -->
          <div class="flex gap-2 mt-2">
            <span *ngFor="let star of [].constructor(5); let i = index">
                <i class="pi" [ngClass]="{
                   'pi-check-circle': i < product.rating,
                   'pi-times-circle': i >= product.rating
                }"></i>
            </span>
            ({{product.rating}}/5)
          </div>

          <!-- Footer Actions -->
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button label="Ajouter au panier" severity="info" [disabled]="product.quantity === 0" (onClick)="openQuantityDialog(product)"></p-button>
              <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"/>
              <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </ng-template>
</p-dataView>

<!-- Product Dialog -->
<p-dialog [(visible)]="isDialogVisible"
          [style]="{ width: '50vw' }"
          header="Ajout/Edition produit">
  <app-product-form
    [product]="editedProduct()"
    (save)="onSave($event)"
    (cancel)="onCancel()"
  />
</p-dialog>

<app-quantity-dialog [isVisible]="isQuantityDialogVisible" [selectedProduct]="selectedProduct" [quantity]="quantity"
                     (confirm)="handleQuantityDialogConfirm($event)" (cancel)="handleQuantityDialogCancel()"></app-quantity-dialog>
<p-toast></p-toast>
