<p-dialog [(visible)]="isVisible" (onHide)="closeDialog()" [style]="{ width: '50vw' }" header="Shopping Cart">
  <div *ngIf="selectedProducts.length > 0; else emptyCart">
    <ul>
      <li *ngFor="let product of selectedProducts">
        <div class="product">
          <span>{{ product.name }} - {{ product.price | currency:'USD' }}</span>
          <div class="quantity-container">
            (Quantity:
            <input
              type="number"
              [(ngModel)]="product.quantity"
              (ngModelChange)="onQuantityChange({ productId: product.id, quantity: $event })"
              [min]="1"
              class="quantity-input"
            />            )
          </div>
          <button pButton icon="pi pi-trash" (click)="onRemoveProduct(product.id)" class="p-button-danger p-ml-2"></button>
        </div>
      </li>
    </ul>
    <!-- Total Cost Display -->
    <div class="cart-total">
      <hr />
      <div class="total-cost">
        <span class="total-label"><strong>Total:</strong></span>
        <span class="total-amount">{{ totalCost | currency:'USD' }}</span>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>No products in the cart.</p>
  </ng-template>
</p-dialog>
